header {
    height: 55px;
    position:relative;
}

.header_image {
    height: 100%;
}

.navbar_item {
    font-size: 20px;
    color: rgb(24, 27, 201);
}

.index_main {
    background-image: url(../images/index_salad2.jpg);
    height: 550px;
    background-size: 100%;
}

.index_title {
    color: white;
    font-size: 40px;
}

.index_text {
    color: whitesmoke;
}

.index_button {
    background-color: greenyellow;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.footer {
    background-color: greenyellow;
}

.footer_information_info {
    list-style: none;
}

.footer_followus_text {
    list-style: none;
}

.footer_followus_link {
    text-decoration: none;
}

.footer_map {
    height: 100%; 
    width: 100%;
}

.rights {
    background-color: greenyellow;

}

.rights_text {
    font-size: 15px;
    font-style: italic;
    color:grey
}

.whatsapp_button{
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    position: fixed
}

.whatsapp_image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
   }