header {
    height: 55px;
    position:relative;
}

.header_image_container {
    height: 100%;
}

.header_image {
    height: 100%;
}

.navbar_list {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.navbar_item {
    font-size: 20px;
    color: rgb(24, 27, 201);
}

.index_main {
    background-image: url(../images/index_salad2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow: hidden;
}

.index_title {
    width: 100%;
}
.index_title_text {
    color: white;
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.index_subtitle_text {
    color: white;
    font-size: 18px;  
}

.index_button {
    background-color: greenyellow;
    color: blue;
    padding: 15px;
    text-decoration: none;
}

.footer {
    background-color: rgb(183, 230, 112);
    padding-bottom: 25px;
}

.footer_div {
    margin-top: 13px;
    padding:0;
}

.footer_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer_information {
    padding:0px; 
    width: 100%;
}

.footer_information_info {
    list-style: none;
}

.footer_followus_link {
    text-decoration: none;
}

.footer_map {
    height: 100%; 
    width: 100%;
    padding-left: 2px;
    border-radius: 4%;
}

.rights {
    background-color: rgb(183, 230, 112);

}

.rights_text {
    font-size: 13px;
    font-style: italic;
    color:grey
}

.whatsapp_button{
    width: 60px;
    height: 60px;
    bottom: 17px;
    right: 17px;
    position: fixed
}

.whatsapp_image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

/* Tipografías disponibles: */

/* font-family: 'Amiko', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */