/* ESTILOS EN LA PÁGINA DE BUILD YOUR SALAD */

.build {
    background-image: url(../images/image4.png);
}

.build_title {
    font-family: 'Rubik', sans-serif;
}

.build_subtitle {
    font-family: 'Rubik', sans-serif;
}