/* ESTILOS EN LA PÁGINA DE BUILD YOUR SALAD */

.build_desktop {
    background-image: url(../images/image4.png);

    @media (max-width: 991px)

    {
        display:none;
    }
}

.build_mobile {
    background-image: url(../images/image4.png);

    @media (min-width: 992px)

    {
        display:none;
    }
}

.build_title {
    font-family: 'Rubik', sans-serif;
}

.build_subtitle {
    font-family: 'Rubik', sans-serif;
}

.build_categoriaingrediente {
    font-family: 'Source Sans Pro', sans-serif;
}

form h3 {
    font-weight: 500;
}

.build_instruccion {
    font-style: italic;
}

.build_seccionpago {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: 'Amiko', sans-serif;
}

.build_contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.build_input, .build_horarioretiro {
    background-color: rgb(220, 241, 187);
    border-color: white;
    border-radius: 8px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.build_submit {
    width: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.boton_pago {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.build_image {
    width: 75%;
}

.build_button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.build_button {
    background-color: rgb(165, 214, 92);
}

.build_button:active {
    background-color: rgb(57, 107, 29);
}

.build_button:hover {
    background-color: rgb(57, 107, 29);
}