/* ESTILOS EN HEADER */

.header_menues {
    height: 55px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.header_index {
    height: 55px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;

    @media (max-width: 991px)

    {
        justify-content:center;
    }
}

.header_image_link, .header_image {
    height: 100%;
}

.header_navbar {

    height: 100%;

    @media (max-width: 991px)

    {
        display: none;
    }
}

.header_navbar_list {

    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.header_navbar_item {
    font-size: 15px;
    color: grey;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
}

.header_dropdown {

    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;


    @media (min-width: 992px)

    {
        display: none;
    }
}

.header_dropdown_icon {
    height: 100%;
    width: 100%;
}

.header_dropdown_button, .header_dropdown_button.show, .header_dropdown_button:hover , .header_dropdown_button:focus,
.header_dropdown_button:active, .btn:first-child:active  {
    background-color: rgb(154, 206, 75);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu_item {
    text-decoration: none;
    color: grey;
}