/* ESTILOS EN LA PÁGINA INICIAL */

.index_main_desktop {
    background-image: url(../images/index_salad2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow: hidden;

    @media (max-width: 991px)

    {
        display:none;
    }
}

.carousel-image_img {
    max-width: 100%;
    max-height: 100%;
}

.index_main_mobile {

    height: 600px;
    background-image: url(../images/image_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 992px)

    {
        display:none;
    }
}

.index_title {
    width: 100%;
}

.index_title_text {
    color: white;
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.index_title_mobile {
    padding-top: 8px;
}

.index_title_mobile h1, .index_title_mobile p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index_title_mobile h1 {
    margin-top:9px;
    font-size: 35px;
}

.index_title_mobile p {
    font-size: 22px;
}

.index_option_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index_option_mobile a{
    padding: 15px;
    margin: 10px;
    height: 60px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    font-family: 'Inter', sans-serif;
    border-color: black;
    font-weight: 600;
    font-size:20px;
    color:black;
    background-color: whitesmoke;
    opacity: 0.7;
}

.index_subtitle_text {
    color: white;
    font-size: 18px;
    font-family: 'Amiko', sans-serif;
}

.index_button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .index_button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

.index_lastoption {
    margin-bottom: 15px !important;
}

