/* ESTILOS EN LA PÁGINA DE MENÚ */

.menu {
    background-image: url(../images/image4.png);
}

.menu_image {
    width: 100%;
}

.menu_title {
    font-family: 'Rubik', sans-serif;
    padding-top: 3px;
}

.menu_titulo, {
    font-family: 'Rubik', sans-serif;
}

.menu_subtitulo, .menu_description {
    font-family: 'Rubik', sans-serif;
}